# JetBrains IDE (IntelliJ IDEA) ayarları
.idea/
*.iml
*.iws
*.ipr

# Derleme çıktıları (Görseldeki 'out' klasörü)
out/
bin/

# Java sınıf dosyaları
*.class

# İşletim sistemi kalıntıları
.DS_Store
Thumbs.db

# Eğer ileride Python kullanırsan
__pycache__/
*.py[cod]